<ion-content>

    <ion-header class="pageHader">
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="/card"></ion-back-button>
            </ion-buttons>
            <ion-title>Opportunity detail</ion-title>
        </ion-toolbar>
    </ion-header>

    <div class="structure">
        <div *ngIf="mensaje" class="card">
            <div class="card__content">
                <div class="card__content__header">
                    <p class="card__content__header__client">{{ mensaje.opportunity.Name }}</p>
                    <p class="card__content__header__type">{{ mensaje.opportunity.type }}</p>
                </div>
                <div class="card__content__main">
                    <p class="card__content__main__name">{{ mensaje.opportunity.Asunto__c }}</p>
                    <!-- <div class="card__content__main__description" [ngClass]="{'show-less': showShortDesciption}"> -->
                    <p class="card__content__main__description">{{ mensaje.opportunity.Description }}</p>
                    <!-- <button class="readMore" type="button" (click)="alterDescriptionText()">
                {{ showShortDesciption ? 'SHOW ALL': 'SHOW LESS' }}
              </button> -->
                </div>
                <div class="card__content__footer">
                    <div>
                        <p class="card__content__footer__phase">FASE 1</p>
                    </div>
                    <div>
                        <p class="card__content__footer__date">Close Date: {{ mensaje.opportunity.CloseDate }}</p>
                        <p class="card__content__footer__amount">Amount {{ mensaje.opportunity.Amount }} €</p>
                    </div>
                </div>
                <div class="actionBtns">
                    <button class="declineBtn">Rechazar</button>
                    <button class="acceptBtn">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</ion-content>
<!-- <ion-footer>
    <div class="actionBtns">
        <button class="declineBtn">Rechazar</button>
        <button class="acceptBtn">Aceptar</button>
    </div>
</ion-footer> -->