<ion-header class="pageHader">
    <ion-toolbar class="new-background-color">
        <ion-buttons slot="start">
            <ion-back-button color="light" defaultHref="/card">Opportunity</ion-back-button>
        </ion-buttons>
        <!-- <ion-title class="new-font-color">Opportunity detail</ion-title> -->
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="structure">
        <div *ngIf="mensaje" class="card">
            <div class="card__content">
                <div class="card__content__header">
                    <p class="card__content__header__client">{{ mensaje.opportunity.Name }}</p>
                    <p class="card__content__header__type">{{ mensaje.opportunity.type }}</p>
                </div>
                <div class="card__content__main">
                    <p class="card__content__main__name">{{ mensaje.opportunity.Asunto__c }}</p>
                    <!-- <div class="card__content__main__description" [ngClass]="{'show-less': showShortDesciption}"> -->
                    <p class="card__content__main__description">{{ mensaje.opportunity.Description }}</p>
                    <!-- <button class="readMore" type="button" (click)="alterDescriptionText()">
                {{ showShortDesciption ? 'SHOW ALL': 'SHOW LESS' }}
              </button> -->
                </div>
                <div class="card__content__footer">

                    <div>
                        <div class="footerContent">
                            <img class="footerIcons" src="https://img.icons8.com/dotty/80/000000/date-to.png">
                            <p class="card__content__footer__date">Close Date: {{ mensaje.opportunity.CloseDate }}</p>
                        </div>
                        <div class="footerContent">
                            <img class="footerIcons" src="https://img.icons8.com/small/16/000000/euro-pound-exchange.png">
                            <p class="card__content__footer__amount">Total amount: {{ mensaje.opportunity.Amount | number:'1.0-0':'es-ES'}}€</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
<ion-footer>
    <div class="actionBtns">
        <button class="declineBtn">Rechazar</button>
        <button class="acceptBtn">Aceptar</button>
        <!-- <button class="declineBtn" (click)="presentToastReject()">Rechazar</button>
        <button class="acceptBtn" (click)="presentToastAccept()">Aceptar</button> -->
    </div>
</ion-footer>