.new-background-color {
    --background: #00A1E0;
}

.new-font-color {
    color: white;
}

.footerContainer {
    height: 92px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.footerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    padding-left: 10px;
    height: 32px;
    padding-top: 5px;
    padding-left: 5px;
}

.acceptIcon,
.rejectIcon {
    width: 24px;
    height: 24px;
}

.card-header {
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 8px 0px rgba(214, 207, 214, 1);
}

.toastStyle {
    color: blue;
}

.footerIcons {
    width: 14px;
    height: 14px;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
}

.structure {
    display: block;
    width: 100%;
    height: 80%;
    padding: 0 10px;
    .card {
        margin-top: 20px;
        padding: 5px;
        padding-top: 40px;
        margin-top: 4px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        text-decoration: none;
        &__content {
            color: rgb(59, 56, 56);
            display: flex;
            flex-basis: calc(100% - 40px);
            flex-direction: column;
            justify-content: center;
            height: auto;
            width: 100%;
            a {
                text-decoration: none;
            }
            &__header {
                color: rgb(59, 56, 56);
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                height: 30px;
                border-bottom: 0.5px solid rgba(63, 63, 63, 0.486);
                padding-bottom: 8px;
                &__client {
                    display: flex;
                    font-size: 14px;
                    font-weight: 500;
                    padding-right: 5px;
                    color: rgb(65, 63, 63);
                    margin-bottom: -4px;
                    margin-top: 5px;
                }
                &__type {
                    display: flex;
                    font-size: 14px;
                    color: rgb(65, 63, 63);
                    font-weight: 500;
                    margin-bottom: -4px;
                    margin-top: 5px;
                }
            }
            &__main {
                margin-top: 5px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                &__name {
                    display: block;
                    color: rgb(65, 63, 63);
                    font-size: 20px;
                    font-weight: 600;
                    padding: 0;
                    margin: 0px;
                    border-bottom: 0.5px solid rgba(63, 63, 63, 0.486);
                    padding-bottom: 12px;
                }
                &__description {
                    display: block;
                    font-size: 14px;
                    color: rgb(65, 63, 63);
                    margin-top: 12px;
                    margin-bottom: 25px;
                    border-bottom: 0.5px solid rgba(63, 63, 63, 0.486);
                    padding-bottom: 22px;
                }
            }
            &__footer {
                color: rgb(41, 41, 40);
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                padding-bottom: 20px;
                &__date {
                    font-weight: 600;
                    font-size: 14px;
                    display: block;
                    margin-top: 8px;
                    margin-bottom: 2px;
                    // padding: 5px;
                    // padding-top: 5px;
                    padding-left: 5px;
                    color: #413f3f;
                }
                &__amount {
                    font-weight: 600;
                    font-size: 14px;
                    display: block;
                    margin-top: 8px;
                    margin-bottom: 2px;
                    // padding: 5px;
                    // padding-top: 5px;
                    padding-left: 5px;
                    color: #413f3f;
                }
            }
        }
    }
}

.actionBtns {
    height: auto;
    width: 100%;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.declineBtn {
    border-radius: 8px;
    width: 160px;
    height: 40px;
    background-color: #eb445a;
    color: white;
}

.declineBtn:active {
    border: none;
    outline: none;
    box-shadow: 0 2px rgb(207, 72, 54);
    transform: translateY(1px);
}

.declineBtn {
    border: none;
    outline: none;
}

.acceptBtn {
    border-radius: 8px;
    width: 160px;
    height: 40px;
    background-color: #2dd36f;
    color: white;
}

.acceptBtn:active {
    border: none;
    outline: none;
    box-shadow: 0 2px rgb(61, 182, 75);
    transform: translateY(1px);
}

.acceptBtn:focus {
    border: none;
    outline: none;
}