<ion-content>
    <div class="structure">
        <div id='stars'></div>
        <div id='stars2'></div>
        <div id='stars3'></div>
        <div class="loginContainer">
            <div class="loginHeader">
                <img class="loginIcon" src="assets/images/icon-techedge.svg">
                <h1 class="mainTitle">Welcome</h1>
            </div>
            <div>
                <form>
                    <div class="input-field">
                        <input type="text" #user (input)="updateUsername(user.value)" [ngClass]="{'valid': user.value !=''}" />
                        <label for="name"><ion-icon name="person-outline"></ion-icon>&nbsp;Username:</label>

                    </div>
                    <div class="input-field">
                        <input type="password" required #pass (input)="updatePassword(pass.value)" [ngClass]="{'valid': pass.value !=''}" />
                        <label for="name"> <ion-icon name="lock-closed-outline"></ion-icon>&nbsp;Password:</label>
                    </div>
                    <div>
                        <button (click)="login()" class="inputBtn" type="button">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ion-content>