.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 99vh;
    width: 88vw;
}

.image {
    width: 60px;
    margin-bottom: 30px;
}

.inputBtn {
    position: absolute;
    right: 20px;
    bottom: -22px;
    border: none;
    border-radius: 8px;
    width: 80vw;
    height: 44px;
    background-color: #79D0A3;
    color: white;
    display: block;
}

.inputBtn--state-success {
    border: none;
    border-radius: 8px;
    width: 80vw;
    height: 44px;
    background-color: rgb(42, 42, 78);
    color: rgb(88, 20, 20);
}

.loginHeader {
    height: 250px;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.structure {
    display: flex;
    justify-content: center;
    background-color: #263D59;
}

h1 {
    font-size: 44px;
    font-weight: 400;
    color: rgb(231, 231, 231);
}

h4 {
    font-weight: 400;
    font-size: 22px;
    color: rgb(214, 210, 210);
}

form {
    // position: absolute;
    width: 90vw;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
    position: relative;
}

.input-field {
    position: relative;
    width: 80vw;
    height: 10px;
    line-height: 44px;
    margin-bottom: 100px;
}

label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #d3d3d3;
    transition: 0.2s all;
    cursor: text;
}

input {
    width: 80vw;
    border: 0;
    outline: 0;
    padding: 0.5rem 0;
    border-bottom: 2px solid #d3d3d3;
    box-shadow: none;
    color: #111;
    display: flex;
    justify-content: center;
}

input:invalid {
    outline: 0;
    // color: #ff2300;
    //   border-color: #ff2300;
}

input:focus,
input:valid {
    border-color: #00dd22;
}

input:focus~label,
input:valid~label {
    font-size: 14px;
    top: -24px;
    color: #00dd22;
}

.userIcon {
    display: flex;
    justify-content: center;
    width: 20px;
    height: 20px;
}

.companyName {
    color: #79D0A3;
}