<!-- <ion-header>
    <ion-title>Oportunities</ion-title>
</ion-header> -->
<ion-content>
    <!-- *ngIf="!message.isTreated || message.treatment !== null" -->
    <!-- <a [routerLink]="['/details']" routerLinkActive="active"> -->
    <ng-container *ngFor="let displayCard of displayCards">
        <div class="card">
            <div class="card__icon">
                <button (click)=changeTreatStatus(displayCard.cardData.opportunity.Id)>treated</button>
                <!-- <button (click)=x(message.opportunity.id, 'accepted')>treated</button> -->
                <!-- <img (click)="displayBtn()" class="card__icon__image" src="https://cdn0.iconfinder.com/data/icons/simply-orange-1/128/currencysvg-512.png"> -->
            </div>
            <div class="card__content">
                <div class="card__content__header">
                    <p class="card__content__header__client">{{ displayCard.cardData.opportunity.Name }}</p>
                    <p class="card__content__header__type card__content__header__type--state-budget">{{ displayCard.cardData.opportunity.approval_type__c }}</p>
                </div>
                <div class="card__content__main">
                    <div>
                        <h2 class="card__content__main__header">{{ displayCard.cardData.opportunity.Asunto__c }}</h2>
                    </div>
                    <div>
                        <p class="card__content__main__description">{{ displayCard.cardData.opportunity.Description }}</p>
                    </div>
                </div>
                <div class="card__content__footer">
                    <div>
                        <p class="card__content__footer__date--state-warning"> {{ displayCard.cardData.opportunity.CloseDate }}</p>
                    </div>
                    <div>
                        <p class="card__content__footer__amount">{{ displayCard.cardData.opportunity.Amount }} €</p>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <!-- </a> -->

    <ion-fab vertical="bottom" horizontal="end" edge slot="fixed" *ngIf="isTreated === true">
        <ion-fab-button>
            <ion-icon name="settings"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button (click)="accept();">
                <!-- <ion-fab-button> -->
                <ion-icon name="checkmark-outline">X</ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="reject();">
                <!-- <ion-fab-button> -->
                <ion-icon name="checkmark-outline">X</ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-content>

<button (click)="accept()">Accept</button>
<button (click)="reject()">Reject</button>