.card {
    margin-top: 20px;
    border-radius: 8px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 98vw;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 2px 4px #f1efef;
    &__icon {
        width: 40px;
        margin-right: 10px;
        margin-left: 10px;
        &__image {
            width: 40px;
            margin-right: 5px;
            margin-left: 5px;
        }
    }
    &__content {
        color: rgb(59, 56, 56);
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        &__header {
            color: rgb(59, 56, 56);
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            height: 20px;
            &__client {
                display: flex;
                font-size: 12px;
                font-weight: 600;
                padding-right: 5px;
            }
            &__type {
                display: flex;
                font-size: 12px;
                color: rgb(134, 128, 128);
                font-weight: 600;
                padding-right: 5px;
            }
        }
        &__main {
            margin-top: 5px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            &__header {
                display: flex;
                color: rgb(65, 63, 63);
                font-size: 18px;
                font-weight: 600;
                padding: 0px;
                margin: 0px;
            }
            &__description {
                display: flex;
                font-size: 16px;
                color: rgb(65, 63, 63);
            }
        }
        &__footer {
            color: rgb(41, 41, 40);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            &__date {
                font-weight: 600;
                font-size: 12px;
                display: flex;
                font-weight: 500;
            }
            &__amount {
                font-weight: 600;
                font-size: 12px;
                display: flex;
                font-weight: 500;
            }
        }
    }
}

.fab-btn {
    visibility: hidden;
}

.selectedOne {
    height: 20px;
    width: 20px;
    background-image: url("https://cdn0.iconfinder.com/data/icons/simply-orange-1/128/currencysvg-512.png");
}

.addClass {
    background-color: green;
}